/***********Game UI***********/
/*****************************/

#board {
    background: url('../images/bg.jpg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 85%;
    height: 100%;
    border-radius: 2%;
    -webkit-box-shadow: -15px 14px 38px -11px rgba(122,122,122,1);
    -moz-box-shadow: -15px 14px 38px -11px rgba(122,122,122,1);
    box-shadow: -15px 14px 38px -11px rgba(122,122,122,1);
}

#ctrl {
    position: absolute;
    left: 85%;
    width: 15%;
    height: 100%;
    background-image: url('../images/backgammon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    -webkit-box-shadow: -9px 9px 38px -11px rgba(122,122,122,1);
    -moz-box-shadow: -9px 9px 38px -11px rgba(122,122,122,1);
    box-shadow: -9px 9px 38px -11px rgba(122,122,122,1);
}

#t26 {
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 40%;
}

#t1 {
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 40%;
}

.upper {
    height: 46.2%;
    width: 97%;
    padding: 1.5% 1.5%;
    /*background: rgba(255, 0, 0, 0.2);*/
    position: absolute;
    top: 0;
}

.lower {
    height: 46.2%;
    width: 97%;
    padding: 1.5% 1.5%;
    /*background: rgba(0, 0, 0, 0.4);*/
    position: absolute;
    bottom: 0;
}

.column {
    border-radius: 10px;
}

.column:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.colActive {
    background-color: rgba(0, 0, 0, 0.2);
}
.blinkPlayer1 {
    background-image: url('../images/heart_dark.svg') !important;
    animation: blink 1.5s linear infinite;
}
.blinkPlayer0 {
    background-image: url('../images/flower_dark.svg') !important;
    animation: blink 1.5s linear infinite;
}

.colTargets {
    background-color: rgba(102,153,255, 0.3);
}

.colTargets:hover {
    background-color: rgba(102,153,255, 0.5);
}

.columnUpper {
    width: 7.68%;
    height: 100%;
    position: relative;
    float: left;
}

.columnLower {
    width: 7.68%;
    height: 100%;
    position: relative;
    float: left;
}

.piece {
    width: 75%;
    height: 16.66%;
    margin: auto;
    border-radius: 50%; 
}

.selectedPiece {
    border: 3px solid #cc9900 !important;
}

.piece.player1 {
    background-color: #ffe5ec;
    background-image: url('../images/heart.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    transition: all .3s ease;
}
.piece.player1:hover {
    background-image: url('../images/heart_dark.svg') !important;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    background-color: #f9ecef !important;
}

.piece.player0 {
    background-color: #d7f4f4;
    background-image: url('../images/flower.svg');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    transition: all .3s ease;
}
.piece.player0:hover {
    background-image: url('../images/flower_dark.svg') !important;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    background-color: #ebfafa !important;
}

.columnUpper .piece {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.columnLower .piece {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}



/********dice********/
#dicewrapper {
    width:40px;
    height:40px;
    perspective:800px;
    position: absolute;
    top: 35%;
    left: 30%;
    cursor: pointer;
    /*animation: roll 1.6s infinite linear;*/
}

#cube {
    position:relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    animation: spin 70s infinite linear;
}

#cube div {
    border:1px solid #ccc;
    border-radius:15px;
    width:40px;
    height:40px;
    position:absolute;
    background-color: rgba(0, 0, 0, .7);
    background-position: center;
    background-repeat:no-repeat;
    background-size: 80% 80%;
}

.front {
    background-image: url(../images/side1.png);
    transform: rotateY(   0deg )  translateZ( 20px );
}
.back {
    background-image: url(../images/side6.png);
    transform: rotateX( 180deg ) translateZ( 20px );
}
.right {
    background-image: url(../images/side2.png);
    transform: rotateY(  90deg ) translateZ( 20px );
}
.left {
    background-image: url(../images/side5.png);
    transform: rotateY( -90deg ) translateZ( 20px );
}
.top {
    background-image: url(../images/side3.png);
    transform: rotateX(  90deg ) translateZ( 20px );
}
.bottom {
    background-image: url(../images/side4.png);
    transform: rotateX( -90deg ) translateZ( 20px );
}

#cube.show1 { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube.show2 { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube.show3 { transform: translateZ( -100px ) rotateY(  -90deg ); }
#cube.show4 { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube.show5 { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube.show6 { transform: translateZ( -100px ) rotateX(   90deg ); }


.rollingDice {
    animation: roll 1.6s infinite linear;
}

.newSpinSpeed {
    animation: spin 2s infinite linear !important;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.9; }
    100% { opacity: 1; }
}


@keyframes roll {
    0% { transform: translate3d(-25px,-20px,-400px) }
    12% { transform: translate3d(0px,0,-100px) }
    25% { transform: translate3d(25px,-20px,-400px) }
    37% { transform: translate3d(0px,-30px,-800px) }
    50% { transform: translate3d(-25px,-20px,-400px) }
    62% { transform: translate3d(0px,0,-100px) }
    75% { transform: translate3d(25px,-20px,-400px) }
    87% { transform: translate3d(0px,-30px,-800px) }
    100% { transform: translate3d(-25px,-20px,-400px) }
}

@keyframes spin {
    0% { transform: translateZ(-50px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ(-50px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ(-50px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ(-50px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ(-50px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% { transform: translateZ(-50px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ(-50px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

@keyframes spinfour {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(36deg); }
    20% { transform: rotate(72deg); }
    30% { transform: rotate(108deg); }
    40% { transform: rotate(144deg); }
    50% { transform: rotate(180deg); }
    60% { transform: rotate(216deg); }
    70% { transform: rotate(252deg); }
    80% { transform: rotate(288deg); }
    90% { transform: rotate(324deg); }
    100% { transform: rotate(360deg); }
}

.spinFour {
    animation: spinfour 0.3s infinite ease-in-out;
    background-image: none !important;
}

#diceVal {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 10%;
}

#diceVal div {
    position: absolute;
    width: 22%;
    height: 58%;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-color: rgba(0, 0, 0, .7);
    background-position: center;
    border-radius:20%;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px white, inset 0 -1px #bbb, inset 1px 0 #d7d7d7, inset -1px 0 #d7d7d7;
}


#diceVal0 {
    left: 2%;
}
#diceVal1 {
    left: 26%;
}
#diceVal2 {
    left: 50%;
}
#diceVal3 {
    left: 74%;
}

/******dice end******/


/******bear off******/
.bearOffHome {
    position: absolute;
    height: 10%;
    width: 40%;
    border-radius: 50%;
    left: 5%;
}

.bearOffHome span {
    color: #aaa;
    position: absolute;
    top: 105%;
    width: 100%;
    text-align: center;
    left: 0;
}

#t27 {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-image:
        radial-gradient(
            circle at bottom right,
            #dfdbd6,
            #85e0e0 100%
        );
    -moz-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

#t0 {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-image:
        radial-gradient(
            circle at bottom right,
            #dfdbd6,
            #ff9999 100%
        );
    -moz-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.bearOffRotateTop {
    top: 15%;
}

.bearOffRotateBottom {
    bottom: 15%;
}


/****bear off end****/

#confirm {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 6%;
}

button {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #cc9900 !important;
    color: #cc9900;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 0.8em;
    width: 80%;
    display: block;
    height: 100%;
    padding: 0;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid #e6ac00 !important;
    color: #e6ac00;
    transition: all .3s ease-in-out;
}

/*
.slowlyAppear {
    animation: slowlyAppearAni 0.5s linear;
}
.slowlyDisappear {
    animation: slowlyDisappearAni 0.5s linear;
}
*/

.animate.ng-enter {
    animation: slowlyAppearAni 0.6s linear;
}
.animate.ng-leave {
    animation: slowlyDisappearAni 0.5s linear;
}

@keyframes slowlyAppearAni {
    from {
        width: 82%;
        height: 18.22%;
        opacity: 0;
    } to {
        width: 75%;
        height: 16.66%;
        opacity: 1;
    }
}

@keyframes slowlyDisappearAni {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.shouldPulse0 {
    cursor: pointer;
    animation: pulse0 1.5s infinite;
}

.shouldPulse1 {
    cursor: pointer;
    
    animation: pulse1 1.5s infinite;
}

.homeOpen0 {
    border: 2px solid #339966;
}

.homeOpen1 {
    border: 2px solid #cc6699;
}

@keyframes pulse0 {
    0%   { box-shadow: 0 0 0 0 rgba(0, 102, 0, 0.4); }
    70%  { box-shadow: 0 0 0 12px rgba(0, 102, 0, 0); }
    100% { box-shadow: 0 0 0 0 rgba(0, 102, 0, 0); }
}

@keyframes pulse1 {
    0%   { box-shadow: 0 0 0 0 rgba(153, 0, 51, 0.4); }
    70%  { box-shadow: 0 0 0 12px rgba(153, 0, 51, 0); }
    100% { box-shadow: 0 0 0 0 rgba(153, 0, 51, 0); }
}

.showPiece0 {
    background-color: #d7f4f4;
    background-image: url('../images/flower_dark.svg') !important;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.showPiece1 {
    background-color: #ffe5ec;
    background-image: url('../images/heart_dark.svg') !important;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
}

.bearOffCnt0 {
    color: #527a7a !important;
}

.bearOffCnt1 {
    color: #D71A60 !important;
}

@media screen and (max-width: 1000px), screen and (max-height: 570px) {
    span {
        font-size: .7em;
    }
    #dicewrapper {
        width:30px;
        height:30px;
        left: 30%;
    }
    
    #cube div {
        width:30px;
        height:30px;
        border-radius: 10px;
    }
    
    .front {
        transform: rotateY(   0deg ) translateZ( 15px );
    }
    .back {
        transform: rotateX( 180deg ) translateZ( 15px );
    }
    .right {
        transform: rotateY(  90deg ) translateZ( 15px );
    }
    .left {
        transform: rotateY( -90deg ) translateZ( 15px );
    }
    .top {
        transform: rotateX(  90deg ) translateZ( 15px );
    }
    .bottom {
        transform: rotateX( -90deg ) translateZ( 15px );
    }
    
    @keyframes roll {
        0% { transform: translate3d(-10px,-10px,-100px) }
        12% { transform: translate3d(0px,0,-25px) }
        25% { transform: translate3d(10px,-10px,-100px) }
        37% { transform: translate3d(0px,-10px,-200px) }
        50% { transform: translate3d(-10px,-10px,-100px) }
        62% { transform: translate3d(0px,0,-25px) }
        75% { transform: translate3d(10px,-10px,-100px) }
        87% { transform: translate3d(0px,-10px,-200px) }
        100% { transform: translate3d(-10px,-10px,-100px) }
    }
}


#alert {
    position: absolute;
    width: 45%;
    height: 40%;
    top: 30%;
    left: 20%;
    box-shadow:0px 2px 2px rgba(0,0,0,0.1);
    border-radius:3px;
    color:gray;
    text-align: center;
}

.blur {
    filter:blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.8);
}

#alert h2 {
    position: absolute;
    left: 0;
    top: 20%;
    right: 0;
    bottom: 0;
    margin: auto;
}

.closebtn {
    position: absolute;
    right: 4%;
    top: 3%;
    z-index: 5;
    cursor: pointer;
}

#refresh {
    position: absolute;
    width: 18%;
    height: 5%;
    bottom: 1%;
    right: 5%;
    background-image: url('../images/refresh.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media screen and (max-width: 700px), screen and (max-height: 400px) {
    #dicewrapper {
        width:16px;
        height:16px;
        top: 37%;
        left: 35%;
    }
    
    #cube div {
        width:16px;
        height:16px;
        border-radius: 10px;
    }
    
    .front {
        transform: rotateY(   0deg ) translateZ( 8px );
    }
    .back {
        transform: rotateX( 180deg ) translateZ( 8px );
    }
    .right {
        transform: rotateY(  90deg ) translateZ( 8px );
    }
    .left {
        transform: rotateY( -90deg ) translateZ( 8px );
    }
    .top {
        transform: rotateX(  90deg ) translateZ( 8px );
    }
    .bottom {
        transform: rotateX( -90deg ) translateZ( 8px );
    }
    
    #confirm {
        height: 10%;
    }
    
    button {
        font-size: 0.5em;
    }
    
    #alert h2 {
        font-size: 0.9em;
    }
}


@media screen and (max-width: 400px), screen and (max-height: 200px) {
    #alert h2 {
        font-size: 0.5em;
    }
}

/********from prof.********/

/* To prevent long-press that will bring up copy-paste dialog. */

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/********END********/

