/***********Game UI***********/
/*****************************/

#container {
    width: 50vw;
    position: relative;
    margin: auto;    
}

#gamearea {
    background: url('../images/bg.jpg') no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding-top: 77.78%;
}

#upper {
    height: 46.2%;
    width: 97%;
    padding: 1.5% 1.5%;
    /*background: rgba(255, 0, 0, 0.2);*/
    position: absolute;
    top: 0;
}

#lower {
    height: 46.2%;
    width: 97%;
    padding: 1.5% 1.5%;
    /*background: rgba(0, 0, 0, 0.4);*/
    position: absolute;
    bottom: 0;
}

.column {
    border-radius: 10px;
}

.column:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.columnUpper {
    width: 7.68%;
    height: 100%;
    position: relative;
    float: left;
}

.columnLower {
    width: 7.68%;
    height: 100%;
    position: relative;
    float: left;
}

.piece {
    width: 85%;
    height: 16.66%;
    margin: auto;
    border-radius: 50%;
    
}

.piece.player1 {
    background-color: #ffe5ec;
    background-image: url('../images/heart.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    transition: all .3s ease;
}
.piece.player1:hover {
    background-image: url('../images/heart_dark.svg') !important;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    background-color: #f9ecef !important;
}

.piece.player2 {
    background-color: #d7f4f4;
    background-image: url('../images/flower.svg');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    transition: all .3s ease;
}
.piece.player2:hover {
    background-image: url('../images/flower_dark.svg') !important;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    background-color: #ebfafa !important;
}

.columnUpper .piece {
    position: absolute;
    left: 6%;
}

.columnLower .piece {
    position: absolute;
    left: 6%;
    bottom: 0;
    
}

.columnUpper .piece:nth-child(2) {
    top: 16.66%;
}

.columnUpper .piece:nth-child(3) {
    top: 33.32%;
}

.columnUpper .piece:nth-child(4) {
    top: 49.98%;
}

.columnUpper .piece:nth-child(5) {
    top: 66.64%;
}

.columnUpper .piece:nth-child(6) {
    top: 83.3%;
}

.columnLower .piece:nth-child(2) {
    bottom: 16.66%;
}

.columnLower .piece:nth-child(3) {
    bottom: 33.32%;
}

.columnLower .piece:nth-child(4) {
    bottom: 49.98%;
}

.columnLower .piece:nth-child(5) {
    bottom: 66.64%;
}

.columnLower .piece:nth-child(6) {
    bottom: 83.3%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    position: absolute;
    left: 45%;
    bottom: 0;
}